body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  height: 100vh;
  color: #333;
  border-radius: 5px;
  overflow-x: hidden;
  border: 1px solid #ccc;
  margin: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
  position: relative;
  z-index: 1;
  overflow-y: auto;
  max-width: 1200px;
}
header, footer {
  background-color: #f8f9fa;
  padding: 10px;
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 2;
}
main {
  padding: 20px;
  overflow-y: auto;
  position: relative;
  max-height: calc(100vh - 110px);
  transition: max-height 0.3s ease;
  max-width: 100%;
  margin: 0 auto;
  overflow-x: auto;
  scrollbar-width: thin;
  scrollbar-color: #ccc #f8f9fa;
}